name: Bygg branch

on:
  push:
    paths-ignore:
      - '.idea'
    branches-ignore:
      - main

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
    cancel-in-progress: true

permissions:
  contents: read
  id-token: write

jobs:
  build:
    name: Bygg og test
    runs-on: ubuntu-latest
    steps:
      - name: Sjekk ut kode
        uses: actions/checkout@v6
      - name: Sett opp Java
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
      - name: Sett opp Gradle
        uses: gradle/actions/setup-gradle@v5
      - name: Bygg med Gradle
        run: ./gradlew build
        env:
          ORG_GRADLE_PROJECT_githubPassword: ${{ secrets.GITHUB_TOKEN }}
